// Colors

$white: #fff;

$blue-1: #f1f2f7;
$blue-2: #eaf2ff;
$blue-3: blue;
$blue-3: #c6c8e7;
$blue-4: #8b91dd;

$red-1: #f1b1ba;
$red-2: #f6576e;

$gray-1: #c0c0c3;

// Shadows

$sh-1: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
